<div class="container-arrow">
    <app-ticket-status *ngFor="let item of list" [label]="item" [active]="ticket?.status"></app-ticket-status>
</div>

<mat-card class="ticket-detail-card">
    <mat-card-header class="header">
        <mat-card-title>
            Detalhes do Ticket
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="ticket-detail" *ngIf="ticket">
            <div class="ticket-fields">
                <div class="ticket-field">
                    <strong>ID:</strong><span> {{ ticket.id }}</span>
                </div>
                <div class="ticket-field">
                    <strong>Solicitado por:</strong>
                    <span>
                        {{ ticket.user.name.split(' ').length > 2 ? ticket.user.name.split(' ').slice(0, 2).join(' ') :
                        ticket.user.name }}
                    </span>
                </div>

                <div class="ticket-field">
                    <strong>Data de Criação:</strong> <span>{{ ticket.createdDate | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div class="ticket-field">
                    <strong>Data de Espera:</strong> <span>{{ ticket.waitingDate | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div class="ticket-field description">
                    <strong>Título:</strong> <span>{{ ticket.title }}</span>
                </div>
                <div class="ticket-field description">
                    <strong>Descrição:</strong>
                    <textarea readonly>{{ ticket.description }}</textarea>
                </div>

                <div class="ticket-field">
                    <strong>Categoria:</strong> <span>{{ ticket.category.name }}</span>
                </div>
                <div class="ticket-field">
                    <strong>Data de Conclusão:</strong><span> {{ ticket.finishedDate | date: 'dd/MM/yyyy' }}</span>
                </div>

            </div>
        </div>
    </mat-card-content>
    <!-- <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-raised-button color="primary">Editar</button>
        <button mat-raised-button color="warn">Cancelar</button>
    </mat-card-actions> -->
</mat-card>